<div id="<%= dom_id task %>">
  <p>
    <strong>Zone:</strong>
    <%= task.zone_id %>
  </p>

  <p>
    <strong>Inspection period:</strong>
    <%= task.inspection_period %>
  </p>

  <p>
    <strong>Inspected on:</strong>
    <%= task.inspected_on %>
  </p>

  <p>
    <strong>Snooze duration:</strong>
    <%= task.snooze_duration %>
  </p>

  <p>
    <strong>Snoozed on:</strong>
    <%= task.snoozed_on %>
  </p>

</div>
