<div id="<%= dom_id task %>" class="card">
	<div class="card-body">
		<h5 class="card-title">
			<%= task.name %>
			<%= link_to "Edit", edit_task_path(task.id)%>
		</h5>

		<p>
			<strong>Inspection period:</strong>
			<%= task.inspection_period %> Days
		</p>

		<p>
			<strong>Inspected on:</strong>
			<%= task.inspected_on.strftime('%b %e') %>
		</p>

		<div class="progress">
			<% 
				days_to_inspection = (task.inspected_on.advance(:days => task.inspection_period) - Date.today).to_i 
				progress = 100 - (days_to_inspection.to_f / task.inspection_period.to_f * 100).to_i	
				color = case progress
					when 0..75 then 'bg-primary'
					when 76..99 then 'bg-warning'
					else 'bg-danger'
				end
			%>
			<div class="progress-bar <%= color %>" role="progressbar" style="width: <%= progress %>%" aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100"><%= progress %>%</div>
		</div>

		<%#= button_to "inspect", { action: "inspect", id: task.id, method: :post} %>
		<%= button_to [:inspect, task], method: :post do%>
			Inspect
		<% end %>

<!--		<p>
			<strong>Snooze duration:</strong>
			<%#= task.snooze_duration %>-->
<!--		</p>

		<p>
			<strong>Snoozed on:</strong>
			<%#= task.snoozed_on %>-->
<!--		</p>-->
	</div>
</div>
