<%= bootstrap_form_with(model: zone) do |form| %>
  <% if zone.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(zone.errors.count, "error") %> prohibited this zone from being saved:</h2>

      <ul>
        <% zone.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :name %>
  </div>

	<div>
		<%= form.color_field :color, style: "width: 100px; height: 80px;" %>
	</div>

<!--	<div class="m-5">
		<ul id="icons-list" class="row row-cols-3 row-cols-sm-4 row-cols-lg-6 row-cols-xl-8 list-unstyled list">
			<%# @icons.each do |icon| %>-->
<!--				<li class="col mb-4" data-name="<%#= icon %>" data-tags="number numeral", data-categories="shape">
					<a href="" 
						class="d-block text-body-emphasis text-decoration-none" 
						data-controller="icon" 
						data-action="click->icon#activate"
						data-icon-icon-value="<%#= icon %>"
					>
						<div class="px-3 py-4 mb-2 bg-body-secondary text-center rounded">
							<i class="bi bi-<%#= icon %>"></i>	
						</div>
						<div class="name text-muted text-decoration-none text-center pt-1"><%#= icon %></div>
					</a>
				</li>
			<%#end%>-->
<!--		</ul>
	</div>-->

  <div>
    <%= form.submit %>
  </div>
<% end %>
